{% extends 'base.html' %} {% block content %}
    <br>
    <h1>Listado de Usuarios</h1><br>
    <table class="table table-hover">
        <thead class="thead-dark bg-dark" style="color: white">
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% if object_list %}
            {% for usuario in object_list %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.first_name }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>
                        <a href="{% url 'actualizar' usuario.id %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'eliminar' usuario.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <h3><span style="color:coral">No hay usuarios registrados</span></h3>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
